.announce{
    background: #000;
    color: white;

    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 48px;
        cursor: default;
        h3{
            font-size: 14px;
        }
        a{
            text-decoration: underline;
            cursor: pointer;
            font-size: 14px;
        }
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 13px 10px 0 10px;

    .logo{
        font-weight: 700;
        cursor: pointer;
    }
    .collection{
        display: flex;
        gap: 44px;
        list-style-type: none;
        font-size: 16px;
        a{
            text-decoration: none;
            color: #000;
            transition: 0.3s ease;

            &:hover{
                color: var(--red);
            }
        }
    }
    .search{
        position: relative;
        input{
            width: 243px;
            height: 38px;
            background: #F5F5F5;
            font-size: 12px;
            border: 1px solid transparent;
            padding: 15px;
            border-radius: 4px;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;   
            outline: none;
            &:focus{
                border-color: #6a6aff;
                box-shadow: 0 0 8px rgba(106, 106, 255, 0.5);
            }
        }
        i{
            position: absolute;
            right: 15px;
            bottom: 12px;
        }
    }
}
    

.burger {
    display: none;
    cursor: pointer;
}

@media (max-width: 960px) {
    .announce{
        .info{
            h3{
                font-size: 13px;
            }
        }
    }
    .navbar {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .collection {
        display: none;
        flex-direction: column;
        width: 100%;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .search {
        display: none;
    }

    .burger {
        display: block;
    }

    .collection.show {
        display: flex;
        max-height: 500px;
        opacity: 1;
    }

}

@media(max-width:400px){
    .announce{
        .info{
            h3{
                font-size: 11px;
            }
        }
    }
}